#app {
  position: relative;
  width: 100%;
  min-height: 800px;
}

.marker,
.marker-active {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

.marker-active {
  border: 1px solid black
}

.mapboxgl-popup {
  min-width: 100px;
}
